body { background-color: #020617; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] { -moz-appearance: textfield; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #1e293b; border-radius: 6px; }
::-webkit-scrollbar-thumb { background: #475569; border-radius: 6px; }
